@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src:url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #444444;
    background-color: #FFFFFF;
}

.page-header {
    background-color:#FFE17F;
    width: 1160px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    width: 1040px;
    margin: 0 auto;
    padding:0 60px;
}

.navigation-link {
    color: #000000;
    background-color:#FFE17F;
    text-decoration: none;
}

.navigation-list {
    font-family: "Raleway" ,sans-serif; 
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
}

.page-conteiner{
    width: 1160px;
    margin: 0 auto;
}

.slider {
    display: flex;
    justify-content: space-between;
}

.slider-image {
    width: 560px;
}
 
.description {
    width: 560px;
}

.slider-number {
    margin-left: auto;
    font-weight: 700;
    font-size: 180px;
    line-height: 30px;
    color: #FFFFFF;
    background-color:#FFE17F;
}

.main-conteiner {
flex-grow: 1;
}

.main-index h2 {
    font-family: "Raleway" ,sans-serif;
    color: #000000;
    font-size: 50px;
    line-height: 50px;
}

.page-conteiner {
    width: 1160px;
    margin: 0 auto;
}

.button {
    font-family: "Raleway" ,sans-serif;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.main-index td {
    color: #000000;
    font-size: 36px;
    line-height: 30px;
}

.main-index th {
    font-size: 16px;
}

.range {
    display: flex;
    flex-direction: row;
}

.range-link{
    font-family: "Raleway" ,sans-serif;
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}

.services{
    background-color: #F0F0F0;
}

.services-conteiner{
    background-color: #F0F0F0;
    width: 1160px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.service-link{
    width: 280px;
    padding: 0;
    font-family: "Raleway" ,sans-serif;
    color: #FFE17F;
    background-color: #000000;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}

.services-description-delivery {
    width: 694px;
    padding-left: 123px;
    margin: 0 auto;
}

.delivery{
    color: #000000;
    background-color: #F0F0F0;
    width: 1160px;
    margin: 0 auto;
    padding: 0 140px;
}

.delivery-link {
    font-family: "Raleway" ,sans-serif;
    color: #000000;
    background-color:  #F0F0F0;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    text-decoration: none;
}

.about-company {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
    padding: 0 140px;
}

.about-us {
    width: 520px;
}

.about-us-item {
    font-weight: 700;
    line-height: 20px;
}

.contact{
    width: 532px;
    padding-left: 131px;
}

.main-index h3 {
    font-weight: 700;
    font-size: 24px;
}

.contact-adress-phone {
    color: #444444;
}

.subscribe {
    background-color: #F0F0F0;
}

.subscribe-conteiner{
    width: 1160px;
    margin: 0 auto;
}

.page-footer {
    color:#FFFFFF;
    background-color: #444444;
}

.page-footer-conteiner {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    padding: 0 140px;
}

.footer-contacts{
    width: 234px;
}

.footer-contact-address {
    font-size: 16px;
    line-height: 19px;
}

.footer-service {
    width:444px;
    padding-left: 117px;
}

.footer-service-link {
    font-family: "Raleway" ,sans-serif;
    color:#FFFFFF;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-button {
    color:#FFFFFF;
    text-decoration: none;
}
 
.footer-tel {
    margin-left: auto;
    max-width:190px;
}

.footer-contact-adress-phone {
    color:#FFFFFF;
    font-size: 16px;
    line-height: 20px;
}

/*catalog*/
.navigation-link-sign-out {
    color: #000000;
    text-decoration: none;
}

.main-inner h1 {
    font-family: "Raleway" ,sans-serif;
    color:#000000;
    font-size: 50px;
    line-height: 50px;
}

.breadcrumbs-link{
    color:#000000;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}

.filters {
    background: #F0F0F0;
    display: flex;
}

.filters-top{
    width: 200px;
    margin-right: 60px;
}

.filters h2 {
    font-family: "Raleway" ,sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}

.catalog-right-column{
    width: 840px;
}

.catalog-device {
    background: #FFFFFF;
}

.device-card-title {
    font-weight: 700;
    line-height: 20px;
}

.device-card-price {
    line-height: 21px;
}

.pagination {
    background: #EBEBEB;    
}

.pagination-link {
    font-size: 16px;
    line-height: 20px;
    color: #444444;
    text-decoration: none;
}

.pagination-next {
    font-family: "Raleway" ,sans-serif;
    font-weight: 800;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}
