@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src:url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 1440px;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #444444;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-header {
    background-color:#FFE17F;
}
 
.search-header {
    display: flex;
}

.logo-link {
    display: block;
    height: 37px;/*если я не ставлю высоту то расстояние больше*/
}

.search-input {
   background-color: transparent; 
   min-width: 359px;
   min-height: 40px;
   border: solid;
   border-top-left-radius: 100px;
   border-bottom-left-radius: 100px;
   border-right-style: none;
}

.input{
    padding-left: 108px;
}

.search-button {
    margin: 0;
    min-width: 160px;
    background-color: transparent; 
    border: solid;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.navigation {
    width: 1040px;
    height: 175px;
    margin: 0 auto;
    padding:0 60px 30px 60px;
}

.navigation-item {
    display: flex;
}

.header-top {
    display: flex;
    margin-bottom: 50px;
    margin-top: 30px;
    align-items: center;
}

.navigation-link {
    display: block;
    flex-wrap: wrap;
    color: #000000;
    background-color:#FFE17F;
    text-decoration: none;
    padding-left: 26px;
}

.navigation-login {
    margin-right: auto;
    margin-left: 0;
}

.header-bottom {
    font-family: "Raleway" ,sans-serif; 
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
}

.navigation-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.navigation-menu-item:first-child {
    margin-right: auto;
}

.navigation-menu-item {
    margin-right: 47px;
    padding: 0;
    list-style-type: none;
}

.navigation-menu-item:last-child {
    margin-right: 0;
    margin-left: 4px;
}

.navigation-menu-link {
    text-decoration: none;
    color: #000000;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 26px;
    width: 245px;
}

.page-container {
    width: 1160px;
    margin: 0 auto;
}

.slider {
    display: flex;
    justify-content: space-between;
}

.slider-image {
    width: 560px;
}
 
.description {
    width: 560px;
}

.slider-number {
    display: block;
    width: 250px;
    height: 135px;
    font-weight: 700;
    font-size: 180px;
    line-height: 30px;
    color: #FFFFFF;
    background-color:#FFE17F;
}

.main-container {
    flex-grow: 1;
}

.main-index h2 {
    font-family: "Raleway" ,sans-serif;
    color: #000000;
    font-size: 50px;
    line-height: 50px;
    margin-top: 40px;
    margin-bottom: 48px;
}

.button {
    font-family: "Raleway" ,sans-serif;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.main-index td {
    color: #000000;
    font-size: 36px;
    line-height: 30px;
}

.main-index th {
    font-size: 16px;
}

.range {
    margin: 70px auto; 
}

.range-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
    list-style-type: none;
    margin:0;
}

.range-item {
    width: 160px;
}

.range-link{
    font-family: "Raleway" ,sans-serif;
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.services{
    background-color: #F0F0F0;
}

.services-container{
    display: flex;
    height: 319px;
}

.service-link{
    width: 280px;
    height: 40px;
    margin: 0; 
    font-family: "Raleway" ,sans-serif;
    color: #FFE17F;
    background-color: #000000;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}

.service-nav {
    display: flex;
    margin: 0;
}

.service-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.service-description {
    width: 448px;
    padding-left: 123px;
}

.delivery {
    margin: 70px 0;
}

.delivery-link {
    font-family: "Raleway" ,sans-serif;
    color: #000000;
    background-color: #F0F0F0;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 40px 125px 40px 125px;
    text-align: center;
}

.about-company {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.about-us {
    width: 520px;
    padding-right: 108px;
}

.about-us-item {
    font-weight: 700;
    line-height: 20px;
}

.contact{
    width: 532px;
}

.main-index h3 {
    font-weight: 700;
    font-size: 24px;
}

.contact-adress-phone {
    color: #444444;
}

.contacts-schedule {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.subscribe {
    background-color: #F0F0F0;
}

.subscribe-container {
    display: flex;
    flex-direction: row;
    width: 1160px;
    margin: 0 auto;
}

.newsletter {
    display: flex;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    width: 1160px;
}

.page-footer {
    color:#FFFFFF;
    background-color: #444444;
    padding:61px 140px;
}

.footer-contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}

.footer-contact-address {
    width: 239px;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.about-text {
    margin: 0;
    padding: 0;
}

.page-footer-container {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    padding:62px;
}

.footer-service-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-service-item {
    margin-right: 35px;
}

.footer-service-link {
    font-family: "Raleway" ,sans-serif;
    color:#FFFFFF;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-button {
    color:#FFFFFF;
    text-decoration: none;
}

.footer-contact-adress-phone {
    color:#FFFFFF;
    font-size: 16px;
    line-height: 20px;
}

.footer-service {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 50px;
}

.footer-social {
    display: flex;
    flex-wrap: wrap;
    margin:0 auto;
    list-style-type: none;
    padding: 0;
}

.footer-social-item {
    margin-right: 15px;
    /*для визуализации*/
    background:gray;
    width: 40px;
    height: 40px;
}

.name-social {
    padding: 11px 16px;
}

/*catalog*/
.navigation-link-sign-out {
    color: #000000;
    text-decoration: none;
}

.main-inner h1 {
    font-family: "Raleway" ,sans-serif;
    color:#000000;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0;
}

.container-breadcrumbs {
    width: 1160px;
    margin:0 auto;
}

.inner-header {
    margin: 35px 60px;
}

.breadcrumbs {
    list-style-type: none;
    display: flex;
    margin-bottom: 35px;
    padding: 0; 
}

.breadcrumbs-link{
    color:#000000;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    margin-right: 36px;
}

.filters {
    background: #F0F0F0;
}

.filters-container {
    width: 1060px;
    margin: 0 auto;
    display: flex;
}

.filters-top{
    margin-top: 25px;
    margin-right: 60px;
}

.filters h2 {
    font-family: "Raleway" ,sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.catalog-filter-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.catalog-right-column{
    width: 840px;
    display: flex;
    flex-direction: column;
}

.sorting {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 30px 20px 40px;
}

.catalog-sort-buttons {
    display: flex;
}

.catalog-device {
    background: #FFFFFF;
    padding: 70px 40px;
    display: grid;
    gap: 44px;
    grid-auto-columns: 760px;
}

.device-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 360px);
    gap: 44px 40px;
}

.device-card {
    display: flex;
    flex-direction: column;
}

.device-card-content {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}

.device-card-title {
    font-weight: 700;
    line-height: 20px;
    width: 260px;
}

.device-card-price {
    line-height: 21px;
    margin: 0;
}

.button-pagination-show-more {
    font-family: "Raleway" ,sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    padding: 18px 295px;
    text-transform: uppercase;
}

.pagination {
    background: #EBEBEB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 25px;
    margin-bottom: 8px;   
}

.pagination-item {
    display: block;
    width: 128px;
}

.pagination-link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 16px;
    line-height: 20px;
    color: #444444;
    text-decoration: none;
}

.pagination-next {
    font-family: "Raleway" ,sans-serif;
    font-weight: 800;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}
